<div class="container">
<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; EscamboLies <%= Date.today.year %></p>
            </div>
        </div>
    </footer>
</div>